@tailwind base;
@tailwind components;
@tailwind utilities;


.voteHistory{
  display: flex;
  flex-direction: column;
  margin: 4em 0;

}
.voteHistory li{
  display: grid;
  grid-template-areas: 
  "topic topic topic outcome outcome"
  "topic topic topic outcome outcome"
  "yesBtn noBtn timer conclude yes"
  "unfreeze unfreeze timer conclude no"

  ;
  align-items: center;
  gap: 1em 2em;
box-shadow: 1px 1px 10px #0003;
margin: 1em;
padding: 1em;
border-radius: 10px;
}
#unfreezeBtn{
  grid-area: unfreeze;

}
#votetopic{
  grid-area: topic;
}
#yesBtn{
  grid-area: yesBtn;
}
#noBtn{
  grid-area: noBtn;
}
#timer{
  grid-area: timer;
  user-select: none !important;
  cursor: default !important;
}
#yes{
  grid-area: yes;

}
#no{
  grid-area: no;

}
#outcome{
  grid-area: outcome;
}
#concludeBtn{
  grid-area: conclude;
}
