@tailwind base;
@tailwind components;
@tailwind utilities;


.voteHistory{
  display: flex;
  flex-direction: column;
  margin: 4em 0;

}
.voteHistory li{
  display: grid;
  grid-template-areas: 
  "topic topic topic outcome"
  "topic topic topic outcome"
  "yes no timer conclude"
  ;
  align-items: center;
  gap: 1em 2em;
box-shadow: 1px 1px 10px #0003;
margin: 1em;
padding: 1em;
border-radius: 10px;
}
#votetopic{
  grid-area: topic;
}
#yesBtn{
  grid-area: yes;
}
#noBtn{
  grid-area: no;
}
#timer{
  grid-area: timer;
}
#outcome{
  grid-area: outcome;
}
#concludeBtn{
  grid-area: conclude;
}
